html {
	--marker-yellow: rgba(255, 231, 156, .9);
	--marker-green: rgba(181, 214, 165, .9);
	--marker-pink: rgba(231, 156, 156, .9);
	--marker-blue: rgba(156, 198, 239, .9);
	--pen-red: rgba(206, 0, 0, .9);
	--pen-green: rgba(107, 165, 74, .9);
}

.comment-marker {
  background-color: var(--marker-yellow);
}
.comment-marker.marker-yellow {
  background-color: var(--marker-yellow);
}
.comment-marker.marker-green {
  background-color: var(--marker-green);
}
.comment-marker.marker-pink {
  background-color: var(--marker-pink);
}
.comment-marker.marker-blue {
  background-color: var(--marker-blue);
}
.comment-marker.pen-red {
  background-color: transparent;
  color: var(--pen-red);
}
.comment-marker.pen-green {
  background-color: transparent;
  color: var(--pen-green);
}

.ck-button.comment-marker {
  min-width: 16px;
  min-height: 16px;
  margin: 3px;
  color: #484848;
}
.ck-button.comment-marker:hover {
  cursor: pointer;
}
.ck-button.comment-marker:focus {
  border-color: #000;
}

.comment-marker.m0 {
  background-color: #fff !important;
  border-color: #fff;
}

.comment-marker.m1 {
  background-color: #fbd4d0 !important;
  border-color: #fbd4d0;
}


.comment-marker.m2 {
  background-color: #ffd7b9 !important;
  border-color: #ffd7b9;
}


.comment-marker.m3 {
  background-color: #f9eda6 !important;
  border-color: #f9eda6;
}


.comment-marker.m4 {
  background-color: #d4e9d6 !important;
  border-color: #d4e9d6;
}


.comment-marker.m5 {
  background-color: #c7e6ea !important;
  border-color: #c7e6ea;
}


.comment-marker.m6 {
  background-color: #cce0f1 !important;
  border-color: #cce0f1;
}

.comment-pen.p0,
.comment-marker.p0, 
.comment-marker.p0 blockquote {
  /* color: #ff0000; */
}

.comment-pen.p1,
.comment-marker.p1, 
.comment-marker.p1 blockquote {
  color: #ff0000;
}

.comment-pen.p2,
.comment-marker.p2, 
.comment-marker.p2 blockquote {
  color: #494949;
}

.comment-pen.p3,
.comment-marker.p3, 
.comment-marker.p3 blockquote {
  color: #ee7976;
}

.comment-pen.p4,
.comment-marker.p4, 
.comment-marker.p4 blockquote {
  color: #faa573;
}

.comment-pen.p5,
.comment-marker.p5, 
.comment-marker.p5 blockquote {
  color: #e6b322;
}

.comment-pen.p6,
.comment-marker.p6, 
.comment-marker.p6 blockquote {
  color: #98c091;
}

.comment-pen.p7,
.comment-marker.p7, 
.comment-marker.p7 blockquote {
  color: #79c6cd;
}

.comment-pen.p8,
.comment-marker.p8, 
.comment-marker.p8 blockquote {
  color: #956fe7;
}




form.ck.ck-comment-form {
  display: block;
  padding: .5em;
  max-width: 480px;
}
.ck.ck-editor__editable_inline {
  border: 1px solid #ccc;
}
.dc-inline-editor-content {
  min-width: 400px;
  min-height: 160px;
  font-size: 14px;
  border: 1px solid var(--ck-color-toolbar-border);
}

.c-button-save, 
.c-button-cancel {
  float: right;
}

.ck.c-button-save .ck-button__label,
.ck.c-button-cancel .ck-button__label {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #DCDFE6;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
}

.ck.c-button-cancel .ck-button__label {
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
}